@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Lobster&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Special+Elite&display=swap");
@media only screen and (min-width: 320px) and (max-width: 479px) {
  body header .navbar-expand-lg {
    background-color: blue;
    flex-wrap: wrap;
    justify-content: flex-start; }
  body header .momodeus {
    background-color: none;
    align-items: center;
    display: inline-flex;
    width: 18rem;
    height: 18rem; } }

@media only screen and (min-width: 320px) and (max-width: 479px) {
  body .cajaC {
    display: inline-flex;
    margin: 1rem;
    background-color: blue;
    width: 100%; }
    body .cajaC .venus__img {
      display: flex;
      margin: 1rem; }
  body .cajaD {
    display: inline-flex;
    box-sizing: border-box;
    background-color: blue; }
    body .cajaD .quiensoy {
      font-size: 6rem; }
      body .cajaD .quiensoy .parr1 {
        font-size: 6rem; }
  body .cajaE {
    display: inline;
    width: 100rem;
    text-align: -webkit-center;
    margin: 2rem;
    background-color: blue;
    padding-top: 2rem;
    padding-bottom: 2rem; }
  body .cajaF {
    background-color: blue; }
    body .cajaF .promos {
      font-size: 6rem;
      background-color: blue; }
  body .pro {
    background-color: black; } }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: inline-grid;
  background-image: url(../imagenes/carnevale.jpg); }

header {
  display: inline-block; }
  header .navbar-expand-lg {
    text-align: center;
    background-color: rgba(73, 7, 97, 0.7);
    flex-wrap: wrap;
    justify-content: flex-start; }
    header .navbar-expand-lg .navbar {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      margin-bottom: 2rem; }
      header .navbar-expand-lg .navbar .container-fluid {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: flex-start; }
      header .navbar-expand-lg .navbar .navbar-nav {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        font-size: 2;
        font-size: larger; }
      header .navbar-expand-lg .navbar .momodeus {
        background-color: none;
        display: inline-flex;
        width: 20rem;
        height: 20rem;
        align-items: center;
        justify-content: center; }
        header .navbar-expand-lg .navbar .momodeus:hover {
          transform: rotateX(45deg);
          transform: rotateX(45deg);
          transform: rotateX(45deg);
          transform: rotateX(45deg);
          transform: rotatey(360deg);
          cursor: pointer;
          transition: transform 2s; }

.cajaC {
  display: inline-flex;
  margin: 1rem;
  background: radial-gradient(#F8A521, #F2D409, #651773);
  justify-content: center;
  justify-self: center;
  width: 100%; }
  .cajaC .venus__img {
    display: flex;
    margin: 2rem;
    justify-items: center;
    text-align: center; }
    .cajaC .venus__img:hover {
      transform: scale(1.4); }

.cajaD {
  display: inline-block;
  box-sizing: border-box;
  justify-content: center;
  background-color: rgba(73, 7, 97, 0.7); }
  .cajaD .quiensoy {
    text-align: center;
    color: yellow;
    font-family: "Bangers", cursive; }

.parr1 {
  font-size: 1rem;
  color: white;
  font-family: "Special Elite", cursive; }
  .parr1 .textRed {
    color: red;
    background-color: #efff0c; }

.cajaE {
  text-align: -webkit-center;
  margin: 2rem;
  background-color: rgba(73, 7, 97, 0.7); }

.cajaF {
  background-color: rgba(73, 7, 97, 0.7); }
  .cajaF .promos {
    text-align: center;
    color: yellow;
    font-family: "Bangers", cursive; }

.pro {
  background-color: black; }

tbody {
  color: yellow;
  font-size: 2rem; }

.cajaG {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 2rem;
  background-color: rgba(73, 7, 97, 0.7); }
  .cajaG .contact {
    text-align: center;
    color: yellow;
    font-family: "Bangers", cursive; }

fieldset {
  color: yellow;
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }
  fieldset label {
    color: white; }

textarea {
  width: 60rem;
  resize: vertical; }

.cajaH {
  text-align: center;
  background-color: rgba(73, 7, 97, 0.7); }
  .cajaH .visita {
    text-align: center;
    color: yellow;
    font-family: "Bangers", cursive; }

iframe {
  width: 80rem;
  border: 0;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  iframe .derechos {
    font-family: "Bangers", cursive; }

body {
  display: grid; }
  body .cajaF {
    background-color: rgba(73, 7, 97, 0.7);
    margin-top: 2rem;
    margin-bottom: 2rem; }
    body .cajaF .promos {
      text-align: center;
      color: yellow;
      font-family: "Bangers", cursive; }

body .cajaEsteban {
  display: flex;
  justify-content: center;
  background-color: transparent; }
  body .cajaEsteban .esteban {
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 30rem;
    border-radius: 150rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    animation-name: esteban;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    body .cajaEsteban .esteban:hover {
      transform: rotateX(45deg);
      transform: rotateX(45deg);
      transform: rotateX(45deg);
      transform: rotateX(45deg);
      transform: rotatey(360deg);
      cursor: pointer;
      transition: transform 4s; }

@keyframes esteban {
  0% {
    background: #3B0551; }
  20% {
    background: #3B0551; }
  40% {
    background: #ECEF0B; }
  60% {
    background: #3B0551; }
  80% {
    background: #ECEF0B; }
  100% {
    background: #3B0551; } }

body .quiensoy1 {
  display: flex;
  text-align: center;
  color: yellow;
  font-family: "Bangers", cursive;
  border-radius: 6rem;
  background-color: rgba(73, 7, 97, 0.7);
  justify-content: center;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem; }

body .parrafo1 {
  background-color: rgba(73, 7, 97, 0.7);
  display: grid;
  color: white;
  font-size: 1.3rem;
  grid-template-columns: 30% 30%;
  grid-template-areas: 3fr;
  grid-template-areas: 10fr;
  justify-content: center; }

body .parr2 {
  background: violet;
  animation-name: parr2animated;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

@keyframes parr2animated {
  0% {
    background: #C68EDB; }
  20% {
    background: #3B0551; }
  40% {
    background: #C68EDB; }
  60% {
    background: #3B0551; }
  80% {
    background: #C68EDB; }
  100% {
    background: #3B0551; } }

.cajaI {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: rgba(73, 7, 97, 0.7); }
  .cajaI .info {
    text-align: center;
    color: yellow;
    font-family: "Bangers", cursive; }
  .cajaI .derechos {
    color: white;
    font-family: "Bangers", cursive; }
  .cajaI .cajaJ {
    font-style: "Bangers", cursive;
    color: yellow; }

body .row {
  background-color: rgba(73, 7, 97, 0.7);
  margin-top: 2rem;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: calc(-.2 * var(--bs-gutter-x));
  margin-left: calc(-.2 * var(--bs-gutter-x));
  align-content: center;
  justify-content: space-evenly;
  align-items: center; }
  body .row .btn-primary {
    margin-bottom: 3rem;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    margin-top: 2rem; }

body .form-label {
  font-size: 1.3rem;
  color: yellow;
  margin-bottom: 0.5rem; }

body .col-12 {
  flex: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly; }

.cajaI {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: rgba(73, 7, 97, 0.7); }
  .cajaI .info {
    text-align: center;
    color: yellow;
    font-family: "Bangers", cursive; }

.derechos {
  color: white;
  font-family: "Bangers", cursive; }

.cajaJ {
  font-style: "Bangers", cursive;
  color: yellow; }
