@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Lobster&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Special+Elite&display=swap");
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: inline-grid;
  background-image: url(../imagenes/carnevale.jpg); }

header .navbar-expand-lg {
  background-color: rgba(73, 7, 97, 0.7);
  flex-wrap: nowrap;
  justify-content: flex-start; }
  header .navbar-expand-lg .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem; }
    header .navbar-expand-lg .navbar .container-fluid {
      display: flex;
      flex-wrap: inherit;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse; }

header .momodeus {
  background-color: transparent;
  display: inline-flex;
  width: 12rem;
  height: 12rem;
  align-items: center;
  justify-content: center; }
  header .momodeus:hover {
    transform: rotateX(45deg);
    transform: rotateX(45deg);
    transform: rotateX(45deg);
    transform: rotateX(45deg);
    transform: rotatey(360deg);
    cursor: pointer;
    transition: transform 2s; }
  header .momodeus .nombremomo {
    display: inline;
    background-color: transparent;
    width: 25rem;
    height: 12rem;
    justify-items: baseline;
    align-items: baseline; }
    header .momodeus .nombremomo:hover {
      transform: rotateX(45deg);
      transform: rotateX(45deg);
      transform: rotateX(45deg);
      transform: rotateX(45deg);
      transform: rotatey(360deg);
      cursor: pointer;
      transition: transform 2s; }

.cajaC {
  display: inline-flex;
  margin: 1rem;
  background: radial-gradient(#F8A521, #F2D409, #651773);
  justify-content: center;
  justify-self: center;
  width: 100%; }
  .cajaC .venus__img {
    display: flex;
    margin: 2rem;
    justify-items: center;
    text-align: center; }
    .cajaC .venus__img:hover {
      transform: scale(1.4); }

.cajaD {
  display: inline-block;
  box-sizing: border-box;
  justify-content: center;
  background-color: rgba(73, 7, 97, 0.7); }
  .cajaD .quiensoy {
    text-align: center;
    color: yellow;
    font-family: "Bangers", cursive; }

.parr1 {
  color: white;
  font-family: "Special Elite", cursive; }
  .parr1 .textRed {
    color: red;
    background-color: #F2D409; }

.cajaE {
  text-align: -webkit-center;
  margin: 2rem;
  background-color: rgba(73, 7, 97, 0.7); }

.cajaF {
  background-color: rgba(73, 7, 97, 0.7); }
  .cajaF .promos {
    text-align: center;
    color: yellow;
    font-family: "Bangers", cursive; }

.pro {
  background-color: black; }

tbody {
  color: yellow;
  font-size: 2rem; }

.cajaG {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 2rem;
  background-color: rgba(73, 7, 97, 0.7); }
  .cajaG .contact {
    text-align: center;
    color: yellow;
    font-family: "Bangers", cursive; }

fieldset {
  color: yellow;
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }
  fieldset label {
    color: white; }

textarea {
  width: 60rem;
  resize: vertical; }

.cajaH {
  text-align: center;
  background-color: rgba(73, 7, 97, 0.7); }
  .cajaH .visita {
    text-align: center;
    color: yellow;
    font-family: "Bangers", cursive; }

iframe {
  width: 80rem;
  border: 0;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  iframe .derechos {
    font-family: "Bangers", cursive; }

.cajaI {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: rgba(73, 7, 97, 0.7); }
  .cajaI .info {
    text-align: center;
    color: yellow;
    font-family: "Bangers", cursive; }

.derechos {
  color: white;
  font-family: "Bangers", cursive; }

.cajaJ {
  font-style: "Bangers", cursive;
  color: yellow; }
