            @mixin Block {
                background-color: rgba(73, 7, 97, 0.7);
            }
            
            @mixin titulos {
                text-align: center;
                color: yellow;
            }
            
            .container-404 {
                text-align: center;
                width: 100%;
                max-width: 400px;
                background: transparent;
                padding: 20px;
                box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
                border-radius: 5px;
                line-height: 1.7;
                color: #434343;
            }
            
            .boton {
                display: inline-block;
                margin-top: 15px;
                text-decoration: none;
                background: yellow;
                color: #fff;
                padding: 10px 15px;
                border-radius: 5px;
                font-size: 15px;
            }
            
            .imagen {
                display: flex;
                justify-content: space-between;
                width: 10rem;
                height: 30rem;
            }
            
            .cajaC {
                display: inline-flex;
                background: none;
                justify-content: center;
                justify-self: center;
                width: 100%;
                flex-direction: row;
                .carnaval {
                    margin-top: 15px;
                    display: flex;
                    width: 60rem;
                    justify-items: center;
                    text-align: center;
                }
            }
            
            .cajaD {
                display: inline-block;
                box-sizing: border-box;
                justify-content: center;
                padding: 2rem;
                @include Block;
                .quiensoy {
                    @include titulos;
                    font-family: $tistyle;
                }
            }
            
            @include movil320 {
                .quiensoy {
                    display: inline_flex;
                    @include titulos;
                    font-family: $tistyle;
                    @include size4;
                }
            }
            
            @include movil480 {
                .quiensoy {
                    display: inline_flex;
                    @include titulos;
                    font-family: $tistyle;
                    @include size4;
                }
            }
            
            .parr1 {
                font-size: 2.6rem;
                color: white;
                text-align: center;
                font-family: $squar;
                .textRed {
                    color: map-get($map: $paletacolores, $key: 'cuatro');
                    background-color: map-get($map: $paletacolores, $key: 'tres');
                }
            }
            
            //queries 320
            @include movil320 {
                .parr1 {
                    font-size: 1.6rem;
                    font-family: $squar;
                }
            }
            
            //queries 480
            @include movil480 {
                .parr1 {
                    font-size: 2.4rem;
                    font-family: $squar;
                }
            }
            
            .cajaE {
                padding-top: 2rem;
                padding-bottom: 2rem;
                text-align: -webkit-center;
                @include Block;
                margin-top: 2rem;
            }
            
            //imagenes carrousel
            .ilustraciones {
                height: 50rem;
                width: 40rem;
            }
            
            @include movil320 {
                .ilustraciones {
                    height: 25rem;
                    width: 20rem;
                }
            }
            
            @include movil480 {
                .ilustraciones {
                    height: 40rem;
                    width: 30rem;
                }
            }
            
            .cajaF {
                @include Block;
                margin-top: 10px;
                .promos {
                    @include titulos;
                    font-family: $tistyle;
                }
            }
            
            @include movil320 {
                .cajaF {
                    display: grid;
                    justify-content: center;
                    margin-top: 10px;
                    .promos {
                        @include size4;
                    }
                }
                .pro {
                    margin: 1rem;
                    display: table-row;
                }
            }
            
            @include movil480 {
                .cajaF {
                    display: grid;
                    justify-content: center;
                    margin-top: 10px;
                    .promos {
                        @include size4;
                    }
                }
                .pro {
                    margin: 2rem;
                    display: table-row;
                }
            }
            
            //termina queries cajaf
            .pro {
                background-color: black;
            }
            
            //letras tabla promo
            tbody {
                color: yellow;
                font-family: $tistyle;
                tr {
                    @include size4;
                }
            }
            
            //queries letras tabla promo 320
            @include movil320 {
                tbody {
                    color: yellow;
                    font-family: $tistyle;
                    tr {
                        font-size: 2rem;
                    }
                }
            }
            
            //queries letras tabla promo 480
            @include movil480 {
                tbody {
                    color: yellow;
                    font-family: $tistyle;
                    tr {
                        font-size: 2.7rem;
                    }
                }
            }
            
            //caja contacto
            .cajaG {
                margin-top: 1rem;
                margin-bottom: 1rem;
                text-align: center;
                @include Block;
            }
            
            .caja_g {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 5rem;
                margin-top: 9rem;
                .contacto {
                    @include titulos;
                    font-family: $tistyle;
                    @include size4;
                    margin-bottom: 1.5rem;
                }
                .parrafoG {
                    display: inline-block;
                    font-size: 2.5rem;
                    background-color: red;
                    width: 30rem;
                    line-height: 1.6;
                    margin-bottom: 3rem;
                    color: white;
                    border: radius 8px;
                }
            }
            
            .cajafor {
                margin: 6rem;
            }
            
            .caja_g a {
                font-size: 1.7rem;
                display: inline-block;
                text-decoration: none;
                width: 100%;
                margin-bottom: 1.5rem;
                color: white;
                font-weight: 700;
            }
            
            .campo {
                width: 100%;
                padding: 10px 10px;
                font-size: 16px;
                border: 1px solid #dbdbdb;
                margin-bottom: 20px;
                border-radius: 3px;
                outline: 0px;
            }
            
            .caja_g form textarea {
                max-width: 53rem;
                min-width: 53rem;
                min-height: 14rem;
                max-height: 15rem;
            }
            
            .caja_g .btn-enviar {
                padding: 15px;
                font-size: 16px;
                border: none;
                outline: 0px;
                background: orange;
                color: white;
                border-radius: 3px;
                cursor: pointer;
                transition: all 300ms ease;
            }
            
            .caja_g .btn-enviar:hover {
                background: #e39403;
            }
            
            //form contacto 320---------------------------------------------------
            @include movil320 {
                .caja_g {
                    width: 100%;
                    display: flex;
                    grid-gap: 5rem;
                    margin-top: 9rem;
                    .contacto {
                        @include titulos;
                        font-family: $tistyle;
                        @include size4;
                        margin-bottom: 1.5rem;
                    }
                    .parrafoG {
                        background-color: red;
                        font-size: 1.5rem;
                        line-height: 1.6;
                        margin-bottom: 3rem;
                        color: white;
                        border-radius: 8px;
                    }
                }
                .cajafor {
                    margin: 2.4rem;
                }
                .caja_g a {
                    font-size: 1.7rem;
                    display: inline-block;
                    text-decoration: none;
                    width: 100%;
                    margin-bottom: 1.5rem;
                    color: white;
                    font-weight: 700;
                }
                .campo {
                    width: 100%;
                    padding: 1rem 1rem;
                    font-size: 1.8rem;
                    border: 1px solid #dbdbdb;
                    margin-bottom: 2rem;
                    border-radius: 3px;
                    outline: 0px;
                }
                .caja_g form textarea {
                    max-width: 53rem;
                    min-width: 53rem;
                    min-height: 14rem;
                    max-height: 15rem;
                }
                .caja_g .btn-enviar {
                    padding: 15px;
                    font-size: 16px;
                    border: none;
                    outline: 0px;
                    background: orange;
                    color: white;
                    border-radius: 3px;
                    cursor: pointer;
                    transition: all 300ms ease;
                }
                .caja_g .btn-enviar:hover {
                    background: #e39403;
                }
            }
            
            //queries for contacto 480-----------------------------------------------
            @include movil480 {
                .caja_g {
                    width: 100%;
                    display: flex;
                    grid-gap: 5rem;
                    margin-top: 9rem;
                    .contacto {
                        @include titulos;
                        font-family: $tistyle;
                        @include size4;
                        margin-bottom: 1.5rem;
                    }
                    .parrafoG {
                        background-color: red;
                        font-size: 2rem;
                        line-height: 1.6;
                        margin-bottom: 3rem;
                        color: white;
                        border-radius: 8px;
                    }
                }
                .cajafor {
                    margin: 1.8rem;
                }
                .caja_g a {
                    font-size: 2.8rem;
                    display: inline-block;
                    text-decoration: none;
                    width: 100%;
                    margin-bottom: 1.5rem;
                    color: white;
                    font-weight: 700;
                }
                .campo {
                    width: 100%;
                    padding: 1rem 1 rem;
                    font-size: 1.9rem;
                    border: 1px solid #dbdbdb;
                    margin-bottom: 2rem;
                    border-radius: 3px;
                    outline: 0px;
                }
                .caja_g form textarea {
                    max-width: 53rem;
                    min-width: 53rem;
                    min-height: 14rem;
                    max-height: 15rem;
                }
                .caja_g .btn-enviar {
                    padding: 1.8remx;
                    font-size: 1.8rem;
                    border: none;
                    outline: 0px;
                    background: orange;
                    color: white;
                    border-radius: 3px;
                    cursor: pointer;
                    transition: all 300ms ease;
                }
                .caja_g .btn-enviar:hover {
                    background: #e39403;
                }
            }
            
            //Donde Estamos
            .cajaH {
                text-align: center;
                @include Block;
                .visita {
                    @include titulos;
                    font-family: $tistyle;
                }
                .mapa {
                    width: 80rem;
                    height: 30rem;
                }
            }
            
            //Donde Estamos 320-cajah
            @include movil320 {
                .cajaH {
                    text-align: center;
                    @include Block;
                    .visita {
                        @include titulos;
                        font-family: $tistyle;
                        @include size4;
                    }
                    .mapa {
                        width: 20rem;
                        height: 30rem;
                    }
                }
            }
            
            //Donde Estamos 480-cajah
            @include movil480 {
                .cajaH {
                    text-align: center;
                    @include Block;
                    .visita {
                        @include titulos;
                        font-family: $tistyle;
                        @include size4;
                    }
                    .mapa {
                        width: 30rem;
                        height: 40rem;
                    }
                }
            }
            
            .cajaI {
                .info {
                    @include titulos;
                    font-family: $tistyle;
                }
            }
            
            //queries cajai 320
            .cajaI {
                .info {
                    @include size4;
                }
            }
            
            //queries caja I 420
            .cajaI {
                .info {
                    @include size4;
                }
            }
            
            iframe {
                width: 80rem;
                border: 0;
                padding-top: 3rem;
                padding-bottom: 3rem;
                .derechos {
                    font-family: $tistyle
                }
            }