    @mixin Block {
        background-color: rgba(73, 7, 97, 0.7);
    }
    
    @mixin titulos {
        text-align: center;
        color: yellow;
    }
    
    .cajaC {
        display: inline-flex;
        margin: 1rem;
        background: radial-gradient(#F8A521, #F2D409, #651773);
        justify-content: center;
        justify-self: center;
        width: 100%;
        .venus__img {
            display: flex;
            margin: 2rem;
            justify-items: center;
            text-align: center;
            &:hover {
                transform: scale(1.4);
            }
        }
    }
    
    .cajaD {
        display: inline-block;
        box-sizing: border-box;
        justify-content: center;
        @include Block;
        .quiensoy {
            @include titulos;
            font-family: $tistyle;
        }
    }
    
    .parr1 {
        color: white;
        font-family: $h3style;
        .textRed {
            color: red;
            background-color: #F2D409;
        }
    }
    
    .cajaE {
        text-align: -webkit-center;
        margin: 2rem;
        @include Block;
    }
    
    .cajaF {
        @include Block;
        .promos {
            @include titulos;
            font-family: $tistyle;
        }
    }
    
    .pro {
        background-color: black;
    }
    
    tbody {
        color: yellow;
        font-size: 2rem;
    }
    
    .cajaG {
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin: 2rem;
        @include Block;
        .contact {
            @include titulos;
            font-family: $tistyle;
        }
    }
    
    fieldset {
        color: yellow;
        min-width: 0;
        padding: 0;
        margin: 0;
        border: 0;
        label {
            color: white;
        }
    }
    
    textarea {
        width: 60rem;
        resize: vertical;
    }
    
    .cajaH {
        text-align: center;
        @include Block;
        .visita {
            @include titulos;
            font-family: $tistyle;
        }
    }
    
    iframe {
        width: 80rem;
        border: 0;
        padding-top: 3rem;
        padding-bottom: 3rem;
        .derechos {
            font-family: $tistyle
        }
    }