@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Lobster&display=swap');
$parrstyle:'Lobster',
cursive;
$h3style: 'Baloo 2',
cursive;
$paletacolores: stylecolor ( 'uno': rgb(42,
2,
42),
'dos' :rgb(109,
5,
109),
'tres' :rgb(160,
5,
160),
'cuatro': rgb(233,
17,
233),
'cinco' :rgb(249,
138,
249),
'seis' :rgb(244,
206,
244),
);
//no tengo en que usar map-get pero dejo unos ejemplos//