body {
    overflow-x: hidden !important;
    .container-404 {
        text-align: -webkit-center;
        width: 100%;
        max-width: 400px;
        @include Block;
        padding: 20px;
        border-radius: 5px;
        line-height: 1.0;
        color: yellow;
        justify-content: flex-start;
        overflow-x: hidden !important;
    }
    .titul {
        font-size: 4rem;
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 700;
        line-height: 1.2;
        overflow-x: hidden !important;
    }
    .boton {
        display: inline-block;
        margin-top: 15px;
        text-decoration: none;
        background: yellow;
        color: black;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 15px;
    }
    .imagen {
        display: flex;
        justify-content: space-between;
        width: 35rem;
        height: 35rem;
    }
}