.cajaI {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    @include Block;
    .info {
        @include titulos;
        font-family: $tistyle;
    }
}

.derechos {
    color: white;
    font-family: $tistyle;
}

.cajaJ {
    font-style: $tistyle;
    color: yellow;
}