@mixin Block {
    background-color: rgba(73, 7, 97, 0.7);
}

header {
    .navbar-expand-lg {
        @include Block;
        flex-wrap: nowrap;
        justify-content: flex-start;
        .navbar {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            margin-bottom: 2rem;
            .container-fluid {
                display: flex;
                flex-wrap: inherit;
                align-items: center;
                justify-content: space-between;
                flex-direction: row-reverse;
            }
        }
    }
    .momodeus {
        background-color: none;
        display: inline-flex;
        width: 12rem;
        height: 12rem;
        align-items: center;
        justify-content: center;
        &:hover {
            transform: rotateX(45deg);
            transform: rotateX(45deg);
            transform: rotateX(45deg);
            transform: rotateX(45deg);
            transform: rotatey(360deg);
            cursor: pointer;
            transition: transform 2s;
        }
        .nombremomo {
            display: inline;
            background-color: transparent;
            width: 25rem;
            height: 12rem;
            justify-items: baseline;
            align-items: baseline;
            &:hover {
                transform: rotateX(45deg);
                transform: rotateX(45deg);
                transform: rotateX(45deg);
                transform: rotateX(45deg);
                transform: rotatey(360deg);
                cursor: pointer;
                transition: transform 2s;
            }
        }
    }
}