body {
    display: grid;
    .cajaF {
        @include Block;
        margin-top: 2rem;
        margin-bottom: 2rem;
        .promos {
            @include titulos;
            font-family: $tistyle;
        }
    }
}