body {
    header {
        @media only screen and (min-width: 320px) and (max-width: 479px) {
            //navbar bs
            .navbar-expand-lg {
                display: flex;
                background-color: rgba(73, 7, 97, 0.7);
                flex-wrap: wrap;
                justify-content: flex-start;
                font-size: 2rem;
            }
            .navbar-nav {
                display: flex;
                flex-direction: column;
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
                font-size: 3rem;
                font-size: larger;
            }
            .momodeus {
                background-color: none;
                align-items: center;
                display: contents;
                width: 15rem;
                height: 15rem;
            }
            .nombremomo {
                background-color: none;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                .nombremomo_1 {
                    width: 50rem;
                }
            }
            .navbar-dark .navbar-toggler {
                width: 20rem;
                color: rgba(255, 255, 255, .1);
                border-color: rgba(255, 255, 255, .1);
                //lineas hamburguesa
                .navbar-toggler-icon {
                    display: inline-block;
                    width: 15rem;
                    height: 15rem;
                    vertical-align: middle;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100%;
                }
            }
        }
    }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
        //caja imagen central
        .cajaC {
            width: 100%;
            .venus__img {
                display: flex;
                margin: 1rem;
            }
        }
        //caja parrafo,fondo,titulo y parrafo
        .cajaD {
            box-sizing: border-box;
            background-color: rgba(73, 7, 97, 0.7);
            .quiensoy {
                font-size: 6rem;
            }
            .parr1 {
                text-align: center;
                font-size: 4.5rem;
                color: white;
            }
        }
        //caja carrousel
        .cajaE {
            width: 100rem;
            text-align: -webkit-center;
            margin: 2rem;
            background-color: rgba(73, 7, 97, 0.7);
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        //abre PROMOS 
        .cajaF {
            display: grid;
            background-color: rgba(73, 7, 97, 0.7);
            .promos {
                font-size: 6rem;
                background-color: rgba(73, 7, 97, 0.7);
            }
        }
        .pro {
            display: inline-block;
            height: auto;
            margin: 1.5rem;
            background-color: black;
        }
        //letras tabla
        tbody {
            color: yellow;
            font-size: 4.5rem;
        }
        //abre caja contacto
        .cajaG {
            text-align: center;
            padding-top: 3rem;
            padding-bottom: 3rem;
            margin: 2rem;
            background-color: rgba(73, 7, 97, 0.7);
            .caja_g {
                .contact {
                    color: yellow;
                    font-size: 6rem;
                }
            }
        }
        fieldset {
            color: yellow;
            min-width: 0;
            padding: 0;
            margin: 0;
            border: 0;
            label {
                color: white;
            }
        }
        legend {
            font-size: 3.5rem;
        }
        label {
            font-size: 3.5rem;
        }
        input {
            font-size: 2.5rem;
        }
        #envio {
            width: 2rem;
            height: 2rem;
        }
        #domicilio {
            width: 2rem;
            height: 2rem;
        }
        #localidad {
            font-size: 2.8;
            width: 40rem;
            height: 5rem;
        }
        .dejatuMensaje {
            color: yellow;
        }
        #checkbox {
            width: 2rem;
            height: 2rem;
        }
        #canvas {
            width: 2rem;
            height: 2rem;
        }
        textarea {
            width: 50rem;
            height: 30rem;
            resize: vertical;
        }
        //abre caja 
        .cajaH {
            background-color: rgba(73, 7, 97, 0.7);
            .visita {
                font-size: 6rem;
            }
        }
        .mapa {
            width: 50rem;
            height: 50rem;
        }
    }
    //abre footer
    @media only screen and (min-width: 320px) and (max-width: 479px) {
        .cajaI {
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 2rem;
            .info {
                background-color: rgba(73, 7, 97, 0.7);
            }
        }
        .derechos {
            background-color: rgba(73, 7, 97, 0.7);
            color: white;
        }
        .cajaJ {
            color: yellow;
            background-color: rgba(73, 7, 97, 0.7);
        }
    }
}