            body {
                .cajaEsteban {
                    display: flex;
                    justify-content: center;
                    background-color: transparent;
                    .esteban {
                        display: flex;
                        justify-content: center;
                        justify-self: center;
                        width: 30rem;
                        border-radius: 150rem;
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                        animation-name: esteban;
                        animation-duration: 4s;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                        &:hover {
                            transform: rotateX(45deg);
                            transform: rotateX(45deg);
                            transform: rotateX(45deg);
                            transform: rotateX(45deg);
                            transform: rotatey(360deg);
                            cursor: pointer;
                            transition: transform 4s;
                            @keyframes esteban {
                                0% {
                                    background: #3B0551;
                                }
                                20% {
                                    background: #3B0551;
                                }
                                40% {
                                    background: #ECEF0B;
                                }
                                60% {
                                    background: #3B0551;
                                }
                                80% {
                                    background: #ECEF0B;
                                }
                                100% {
                                    background: #3B0551;
                                }
                            }
                        }
                    }
                }
            }